<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.custom.customnavigation">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="29" />
	<application android:label="CustomNavigation.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>